div.grid{
    width: 300px;
    height: 300px;

    border: solid 1px #61dafb;
}

button.grid-child{
    width: 100px;
    height: 100px;
    float: left;
    border: solid 1px #61dafb;
    background: transparent;
    color: white;
    font-size: 85px;
    padding: 0;
}

